<div class="auth-form hidden" id="changePasswordForm">
    <h2>Skift Adgangskode</h2>
    <form id="changePassword">
        <input type="password" id="current-password" placeholder="Nuværende adgangskode" required>
        <input type="password" id="new-password" placeholder="Ny adgangskode" required>
        <button type="submit">Skift Adgangskode</button>
    </form>
</div> 