/* RESET & BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #1E1E1E;
    font-family: 'Inter', sans-serif;
    font-weight: 600; /* Semi Bold */
    color: #C3C3C1; /* Light gray color */
  }
  
  /* CONTAINER */
  .container {
    background-color: #1B1B19;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  /* SIDEBAR */
  .sidebar {
    font-size: 8px;
  }
  
  /* HEADER */
  h1, .header {
    font-size: 16px;
    color: #C3C3C1;
  }
  
  /* CARDS */
  .card {
    background-color: #242424;
    border-radius: 8px;
    padding: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .card-header {
    font-size: 7px;
    color: #84837E; /* Dark gray */
  }
  
  .card-value {
    font-size: 13px;
    color: #C3C3C1;
  }
  
  .card-change {
    font-size: 10px;
  }
  
  .card-change.positive {
    color: #46634C;
  }
  
  .card-change.negative {
    color: #BD3A3A;
  }
  
  /* GRAPH */
  .graph {
    background-color: #1B1B19;
    padding: 1rem;
    border-radius: 8px;
  }
  
  .graph-header {
    font-size: 16px;
    margin-bottom: 1rem;
  }
  
  .graph-content {
    font-size: 10px;
  }
  
  /* GRAPH COLORS */
  .graph-line1 {
    stroke: #2C64BC; /* Light blue */
  }
  
  .graph-line2 {
    stroke: #2B2733; /* Dark blue */
  }
  
  /* BUTTONS */
  button {
    background-color: #242424;
    color: #8B8B89;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  button:hover {
    background-color: #2B2B2B;
  }
  
  /* TABLE */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    font-family: inherit;
  }
  
  thead {
    background-color: #1E1E1E;
    font-size: 7px;
    color: #C3C3C1;
    text-align: left;
  }
  
  tbody {
    font-size: 8px;
    color: #84837E;
  }
  
  td, th {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #2B2B2B;
  }  